@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import "tailwindcss";



/* Dodaj dark mode varijante */

  
  body {
    font-family: 'Inter', sans-serif;
    
  }
  
  /* Light mode default */
  .bg-white {
    background-color: white;
    color: black;
  }
  
  /* Dark mode style */
  .dark .bg-white {
    background-color: black;
    color: white;
  }
  
  html, body {
    overflow-x: hidden;
    max-width: 100vw;
  }
  
 
  